.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .uploadProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .product-input {
      border: 1px solid black;
    }
  }
  .send-btn {
    border: 2px solid purple;
  }
}
