$grey-700: #212529;
$grey-600: #616466;
$grey-500: #A9A9A9;
$grey-400: #EEEDEA;
$grey-200: #FAFAFA;
$grey-bg-200: #F6F6F6;



//Primitive Components
$cart_badge_count: #4361ee;



$searchInputBorder: hsl(210, 9%, 31%);


$color-header-text: hsl(200, 18%, 97%);
