.header-categories {
  display: flex;
  align-items: center;
  gap: 2em;
  margin-top: 1.5em;
  overflow-x: scroll;
  white-space: nowrap;
  .header-category-element {
    font-size: 0.85rem;
    cursor: pointer;
  }
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  & {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
