.Shop-actions {
  margin: 2em 0;
  position: sticky;
  top: 0;
  padding: .5em;
  z-index: 2;
  background-color: white;
  .shopListActions {
    display: flex;
    padding: 0 1em;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
    .shopListActions__toggle {
      .toggle-filter {
        display: flex;
        align-items: center;
        gap: 0.5em;
        font-weight: 500;
        img {
          height: 1em;
        }
      }
    }
  }
}
